<apex:page standardController="CS_Question_Typification_Matrix__c" >
  <apex:includeLightning />
  <div id="CsNewQuestion"></div>
  <script>
      $Lightning.use("c:CS_QUESTIONTM_LIGHTNING_APP", function() 
                        {
                            $Lightning.createComponent("c:CS_QUESTIONTM_LIGHTNING_COMPONENT", {}, "CsNewQuestion", function(cmp) {});
                        }
                    );
  </script>  
</apex:page>